# What is pandas?
Pandas is a popular Python library used for *data manipulation and analysis*. It provides easy-to-use tools for working with structured data like tables (similar to Excel or SQL tables). Pandas is built on top of NumPy.

# Two primary data structures in pandas
# 1) Series
- A Series is a one-dimensional array, similar to a list or a column in a spreadsheet, but with labels (called an index).
- It contains data of the same type (e.g., all integers, all floats, etc.).
- Each value has a corresponding label (index) for easy access.
  
# 2) DataFrame
- A DataFrame is a two-dimensional, table-like structure. Think of it as a spreadsheet or an SQL table.
- It has rows and columns.
- Columns can have different data types (e.g., numbers, strings, dates).

In [1]:
import numpy as np
import pandas as pd

# How to create a series in pandas

In [2]:
names = ['Ayesha','Iqra','Sana','Taimoor']
obj = pd.Series(names) # Series is a class and we are creating an object of it by passing list in a constructor
obj

0     Ayesha
1       Iqra
2       Sana
3    Taimoor
dtype: object

In [3]:
pd.Series(['Ayesha','Iqra','Sana','Taimoor'])

0     Ayesha
1       Iqra
2       Sana
3    Taimoor
dtype: object

In [4]:
pd.Series([1,2,33,444])

0      1
1      2
2     33
3    444
dtype: int64

# Custom index

In [5]:
age = [20,24,30,29]
pd.Series(age,index = names)

Ayesha     20
Iqra       24
Sana       30
Taimoor    29
dtype: int64

# Series from dict

In [6]:
family = {
    'Ayesha':20,
    'Iqra':24,
    'Sana':30,
    'Taimoor':29
}
family_ser = pd.Series(family,name='Family details') # by default dtype is the data type of values (not dtype of index)
family_ser

Ayesha     20
Iqra       24
Sana       30
Taimoor    29
Name: Family details, dtype: int64

# Name your series

In [7]:
pd.Series([22,34,555,88],name='Basic Info')

0     22
1     34
2    555
3     88
Name: Basic Info, dtype: int64

# Series attributes
- size
- name
- index
- dtype
- is_unique
- values

In [8]:
# size -> no of items/values in series
obj.size

4

In [9]:
 # dtype
obj.dtype # pandas treate strings as objects mostly.

dtype('O')

In [10]:
family_ser.dtype

dtype('int64')

In [11]:
# name
family_ser.name

'Family details'

In [12]:
# is_unique
family_ser.is_unique

True

In [13]:
pd.Series([1,3,3,4,5]).is_unique

False

In [14]:
# index
family_ser.index # we set custom index

Index(['Ayesha', 'Iqra', 'Sana', 'Taimoor'], dtype='object')

In [15]:
obj.index # by default index

RangeIndex(start=0, stop=4, step=1)

In [16]:
# values
obj.values

array(['Ayesha', 'Iqra', 'Sana', 'Taimoor'], dtype=object)

In [17]:
family_ser.values

array([20, 24, 30, 29], dtype=int64)

In [18]:
type(family_ser)

pandas.core.series.Series